// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
MAELSTROM               ICON                    "Maelstrom.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

 1 VERSIONINFO
 FILEVERSION 3,1,0,0
 PRODUCTVERSION 3,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0c0904b0"
        BEGIN
            VALUE "CompanyName", "Mark Pazolli"
            VALUE "FileDescription", "The classic asteroid-hunting space-shooter"
            VALUE "FileVersion", "3.1.0.0"
            VALUE "InternalName", "Maelstrom.exe"
            VALUE "LegalCopyright", "GNU General Public License v2"
            VALUE "OriginalFilename", "Maelstrom.exe"
            VALUE "ProductName", "Maelstrom"
            VALUE "ProductVersion", "3.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0xc09, 1200
    END
END
